#folder
target/
.vagrant/
valyria-integration-test/logs/
valyria-integration-test/target/

#fixed file
.class
.exe
.log
.prefs
.classpath
.metadata
.settings
.DS_Store
Thumbs.db
.project
*.iml
*.ipr
*.iws
*.tar.gz
*.bak
.idea
*.log
*.swp
*.swo
.vscode
.idea
package-lock.json
release/

#github
.github